<launch>
	<arg name="en_debug" default="true" doc="Debug level on ROS debug"/>
	<arg name="all_motors_sim" default="false" doc="Simulate moving of motors"/>
	
	
	<env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>
	
	
	
	<node
		name="controller"
		pkg="tc_main"
		type="controller"
		output="screen"
	>
		<param name="all_motors_sim" type="bool" value="$(arg all_motors_sim)"/>
		
		<!-- Input topics -->
		<remap from="motors_en" to="/chassis/motors_en"/>
		<remap from="cmd" to="/chassis/cmd"/>
		<!-- Output topics -->
		<remap from="odom" to="/chassis/odom"/>
	</node>
	<node
		if="$(arg en_debug)"
		name="set_log_level__controller"
		pkg="rosservice"
		type="rosservice"
		args="call /controller/set_logger_level '{logger: 'ros.wc_main', level: 'debug'}'"
	/>
	
</launch>
